.table {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  height: 400px;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 30%;
}
